<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huayou.websocket.mapper.UseMapper" >
  <resultMap id="BaseResultMap" type="com.huayou.websocket.entity.Use" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="room_id" property="roomId" jdbcType="INTEGER" />
    <result column="start_time" property="startTime" jdbcType="TIME" />
    <result column="end_time" property="endTime" jdbcType="TIME" />
    <result column="use_date" property="useDate" jdbcType="DATE" />
    <result column="user" property="user" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, room_id, start_time, end_time, use_date, user
  </sql>
  <insert id="insert" parameterType="com.huayou.websocket.entity.Use" >
    insert into use_info (id, room_id, start_time,
      end_time, use_date, user)
    values (#{id,jdbcType=INTEGER}, #{roomId,jdbcType=INTEGER}, #{startTime,jdbcType=TIME},
      #{endTime,jdbcType=TIME}, #{useDate,jdbcType=DATE}, #{user,jdbcType=VARCHAR})
  </insert>
  <select id="selectByRoomIdAndUseDate" resultMap="BaseResultMap" >
  select
  <include refid="Base_Column_List" />
  from use_info
  where room_id = #{roomId} AND use_date = #{useDate}
</select>
  <select id="selectByUseDateAndTimes" resultMap="BaseResultMap"  parameterType="com.huayou.websocket.entity.Use" >
    select
    <include refid="Base_Column_List" />
    from use_info
    where use_date = #{useDate,jdbcType=DATE} and
    ( (start_time &lt; #{startTime,jdbcType=TIME} and end_time &gt; #{startTime,jdbcType=TIME} ) or (start_time &lt; #{endTime,jdbcType=TIME} and end_time &gt; #{endTime,jdbcType=TIME} )
    or (start_time &gt; #{startTime,jdbcType=TIME} and end_time &lt; #{endTime,jdbcType=TIME} ))
  </select>
  <select id="selectByTimes" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from use_info
    where room_id = #{roomId} AND use_date &lt;= #{endDate} and use_date &gt;= #{beginDate}
  </select>

</mapper>